$banner-max-width: 1240px;
$banner-height: 223px;
$banner-background-border-radius: 25px;
$banner-background-border-radius-small: 10px;
$banner-font-size: 48px;
$banner-font-size-medium: 35px;
$banner-font-size-small: 25px;
$banner-animation-duration: 3s;

.banner {
  position: relative;
  margin: 40px auto;
  max-width: $banner-max-width;
  width: 100%;
  height: $banner-height;
  z-index: 7;
  overflow: hidden;

  // Animation 
  @keyframes reveal {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .banner_background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: $banner-background-border-radius;
    background-position: center bottom 40%;
    filter: brightness(0.7);
    background-color: #000;
  }

  .banner_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 4;
    text-align: center;

    h1 {
      color: #fff;
      font-size: $banner-font-size;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      animation: reveal $banner-animation-duration linear forwards;
    }
  }

  // Responsive design pour les écrans de taille moyenne (768px - 992px)
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .banner_content {
      h1 {
        font-size: $banner-font-size-medium;
      }
    }
  }

  // Responsive design pour les petits écrans (320px - 767px)
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .banner_background {
      border-radius: $banner-background-border-radius-small;
    }

    height: 110px;

    .banner_content {
      display: block;

      h1 {
        font-size: $banner-font-size-small;
        padding: 10px;
        animation: none;

        .line-break {
          display: block;
        }
      }
    }
  }
}
