$collapseContainer-maxWidth: 1024px;
$collapseContainer-borderRadius: 5px;
$collapseHeader-height: 47px;
$collapseHeader-titleColor: #ffffff;
$collapseHeader-titleSize: 24px;
$collapseChevron-width: 30px;
$collapseContent-maxWidth: 1023px;
$collapseContent-background: #f7f7f7;
$collapseContent-color: #ff6060;
$collapseContent-fontSize: 18px;

.collapse_container {
  margin: 31px auto;
  max-width: $collapseContainer-maxWidth;

  .collapse {
    padding: 0 15px;
    height: $collapseHeader-height;
    background-color: #ff6060;
    border-radius: $collapseContainer-borderRadius;
    cursor: pointer;

    .collapse_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .collapse_title {
        color: $collapseHeader-titleColor;
        font-weight: 500;
        font-size: $collapseHeader-titleSize;
      }

      .collapse_chevron {
        width: $collapseChevron-width;
      }
    }
  }

  .collapse_content {
    position: relative;
    top: -48px;
    z-index: -1;
    min-height: 50px;
    padding: 60px 20px 10px 20px;
    margin: auto;
    background-color: $collapseContent-background;
    color: $collapseContent-color;
    font-size: $collapseContent-fontSize;
    text-align: justify;
    border-radius: $collapseContainer-borderRadius;
    overflow: hidden;
    opacity: 0;
    animation: reveal 0.8s ease-in-out forwards;
  }

  @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  // Responsive design pour les écrans de taille moyenne (768px - 992px)
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .collapse {
      margin: 20px;
    }
    .collapse_content {
      margin: 0 20px;
    }
  }

  // Responsive design pour les petits écrans (320px - 767px)
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 0px;
    .collapse {
      margin: 20px auto;
      height: 30px;
      width: auto;

      .collapse_header {
        .collapse_title {
          font-size: 16px;
          padding-left: 10px;
        }
        .collapse_chevron {
          width: 20px;
          padding-right: 10px;
        }
      }
    }
    .collapse_content {
      text-align: justify;
      width: auto;
      padding: 40px 18px;
      font-size: 15px;
    }
  }
}
