$fade-duration: 1.7s;
$fade-opacity-start: 0.7;
$fade-opacity-end: 1;
$fade-translateY-start: 20px;
$fade-translateY-end: 0;

.fade-enter {
  opacity: $fade-opacity-start;
  transform: translateY($fade-translateY-start);
  transition: opacity $fade-duration, transform $fade-duration;
}

.fade-enter-active {
  opacity: $fade-opacity-end;
  transform: translateY($fade-translateY-end);
  transition: opacity $fade-duration, transform $fade-duration;
}


